version: '3.2'
services:
  database:
    image: postgres:12-alpine
    environment:
      - POSTGRES_USER=hackmd
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
#      - POSTGRES_DB=hackmd
    volumes:
      - /srv/data/codimd/database:/var/lib/postgresql/data
    networks:
      backend:
        ipv4_address: 10.0.2.4
    restart: always

  app:
    image: hackmdio/hackmd:2.4.2
    container_name: codimd_container
    environment:
      - CMD_DOMAIN=pad.fsi.uni-tuebingen.de
      - CMD_USECDN=false
      - CMD_PROTOCOL_USESSL=true
      - CMD_DB_URL=${CMD_DB_URL}
      - CMD_OAUTH2_USER_PROFILE_URL=https://aai.fsi.uni-tuebingen.de/auth/realms/FSI_Account/protocol/openid-connect/userinfo
      - CMD_OAUTH2_USER_PROFILE_USERNAME_ATTR=preferred_username
      - CMD_OAUTH2_USER_PROFILE_DISPLAY_NAME_ATTR=name
      - CMD_OAUTH2_USER_PROFILE_EMAIL_ATTR=email
      - CMD_OAUTH2_TOKEN_URL=https://aai.fsi.uni-tuebingen.de/auth/realms/FSI_Account/protocol/openid-connect/token
      - CMD_OAUTH2_AUTHORIZATION_URL=https://aai.fsi.uni-tuebingen.de/auth/realms/FSI_Account/protocol/openid-connect/auth
      - CMD_OAUTH2_CLIENT_ID=hedgedoc
      - CMD_OAUTH2_CLIENT_SECRET=${CMD_OAUTH2_CLIENT_SECRET}
      - CMD_OAUTH2_PROVIDERNAME=FSI SSO
      - CMD_EMAIL=false
      - CMD_ALLOW_GRAVATAR=false
      - CMD_ALLOW_ANONYMOUS=false
      - CMD_ALLOW_ANONYMOUS_EDITS=false
      - CMD_ALLOW_FREEURL=true
      - CMD_DEFAULT_PERMISSION=limited
      - CMD_ALLOW_PDF_EXPORT=true
      - CMD_SESSION_LIFE=1209600000
    volumes:
      - ./config.json:/home/hackmd/app/config.json
      - /srv/data/codimd/persistuploads:/home/hackmd/app/public/uploads
    networks:
      backend:
        ipv4_address: 10.0.2.3
    restart: always
    depends_on:
      - database

  nginx:
    image: fsinf/nginx:latest
    container_name: codimd_nginx
    ports:
      - "134.2.220.61:8010:443"
    volumes:
      - /srv/docker-certificates/pad.fsi.uni-tuebingen.de/:/etc/nginx/ssl:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx-codimd.conf:/etc/nginx/sites-enabled/nginx-codimd.conf:ro
      - /srv/docker/shared/nginx/ssl.conf:/etc/nginx/shared/ssl.conf:ro
      - /srv/docker/shared/nginx/security-headers.conf:/etc/nginx/shared/security-headers.conf:ro
    networks:
      backend:
        ipv4_address: 10.0.2.2
    restart: always

networks:
  backend:
    ipam:
      config:
        - subnet: 10.0.2.0/24
